accentColor = white

font-styling()
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Droid Sans", "Helvetica Neue", Arial, sans-serif
  -webkit-font-smoothing: antialiased
  font-weight: 400
  font-size: 18px
  line-height: 100%
  color: white
