accentColor = deeppink

font-styling()
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Droid Sans", "Helvetica Neue", Arial, sans-serif
  font-size: 18px
  line-height: 18px
  color: white
